// Colours
$primary-color: #03A89E;

// Navigation Bar Variables
$dropdown-label-color: $primary-color;
$topbar-dropdown-toggle-color: $primary-color;
$topbar-link-font-size: emCalc(20px);
$topbar-dropdown-toggle-size: 10px;
$topbar-bg: #444;
$topbar-height: 70px;

// Text Variables
$header-font-family: "Ubuntu", sans-serif;
$header-font-color: #444;
$paragraph-font-family: "Ubuntu", sans-serif;
$paragraph-font-color: #444;
$anchor-font-color: $primary-color;


@import "foundation.scss";

* {
    font-family: "Ubuntu", sans-serif;
}

.nav-img {
    max-height: 32px;
    vertical-align: middle;
}


.blog {
    h1 {
        text-align: center;
    }
    .article-nav {
        padding-top: 20px;
        padding-bottom: 20px;

        ul {
            list-style-type: none;
        }

        .prev {
            float: left;
        }

        .next {
            float: right;
        }
    }
    .post-body {
        line-height: 1.6;
    }
}

.category {
    background-color: $primary-color;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    color: #FFF;
    line-height: 36px;
}

#share-bar{
    padding-top: 20px;
    padding-bottom: 20px;
}

