
// Navigation Bar Variables
$dropdown-label-color: #7FFFD4;
$topbar-dropdown-toggle-color: #7FFFD4;
$topbar-link-font-size: emCalc(20px);
$topbar-dropdown-toggle-size: 10px;
$topbar-bg: #444;
$topbar-height: 70px;

// Text Variables
$header-font-family: "Ubuntu", sans-serif;
$header-font-color: #444;
$paragraph-font-family: "Ubuntu", sans-serif;

@import "foundation.scss";

* {
    font-family: "Ubuntu", sans-serif;
}

.turquoise {
    color: darken(#7FFFD4, 30%);
}