// Colours
$primary-color: #03A89E;

// Navigation Bar Variables
$dropdown-label-color: $primary-color;
$topbar-dropdown-toggle-color: $primary-color;
$topbar-link-font-size: emCalc(20px);
$topbar-dropdown-toggle-size: 10px;
$topbar-bg: #444;
$topbar-height: 70px;

// Text Variables
$header-font-family: "Ubuntu", sans-serif;
$header-font-color: #222;
$paragraph-font-family: "Ubuntu", sans-serif;
$paragraph-font-color: #222;
$anchor-font-color: $primary-color;


@import "foundation.scss";

* {
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: darken(white, 5%);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 10;
    margin: 50px 0 20px 0;
}

.name {
    h1 {
        text-align: left;
    }
}

.nav-img {
    max-height: 32px;
    vertical-align: middle;
}

.blog {
    color: $paragraph-font-color;
    .post-body {
        line-height: 1.6;
    }

    h1 {
        border-bottom: 2px solid lighten(#DDD, 7%);
        padding-bottom: 8px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        padding-left: 20px;
    }

    ol {
        padding-left: 20px;
    }

    background-color: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
}

.white-box {
    background-color: white;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;
}

.article-nav {
    padding-top: 20px;
    padding-bottom: 20px;

    ul {
        list-style-type: none;
    }

    .prev {
        float: left;
    }

    .next {
        float: right;
    }
}

.category {
    color: #222;
    background-color: white;
    padding: 0px 5px 0px 5px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #DDD;
    border-radius: 5px;
    line-height: 36px;
    transition: color 0.3s;
    display: inline-block;
    &:hover {
        color: #777;
    }
}

#share-bar{
    padding-top: 20px;
    padding-bottom: 20px;
}

#jwpe {
    span {
        color: $primary-color;
    }
}

.green-inset {
    background-color: $primary-color;
    margin: 20px 0 20px 0;
    a {
        color: #222;
        &:hover {
            color: #444;
        }
    }
}

#about-img {
    line-height: 0;
    padding: 0 0 0 0;
}

#contact {
    padding-bottom: 15px;
}

// Controls the style of the paginator
.paginator {
    text-align: center;
}

// Valentine's Day special
.valentines {
    color: #E61561;
}

.centered-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#disqus_thread{
    padding-bottom: 20px;
}

#more-posts {
    padding-right: 20px;
    text-align:right;
}