{% extends "base.html" %}

{% block title %}
  Landing
{% endblock %}

{% block content %}
    <div class="row">
      <div class="small-4 small-centered columns">
        <h1>Hello World</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-centered columns">
        <p>
          Bacon ipsum dolor sit amet swine ball tip in, spare ribs turducken tempor adipisicing culpa hamburger ad meatball dolore incididunt pariatur. Pork t-bone est dolor, reprehenderit ut anim ex short ribs sint kielbasa ea. Consequat dolore in veniam swine et eiusmod leberkas proident aliqua. Eiusmod velit turkey duis, culpa aliqua shank aute. Ex hamburger ribeye bresaola cillum commodo corned beef deserunt tenderloin drumstick boudin pig ullamco swine. Pork belly boudin pancetta culpa short loin t-bone swine, reprehenderit exercitation. Turkey sunt enim eu in aliquip.
          <a href="#">I am a link</a>
        </p>
        <p>
        Irure sausage sirloin velit minim chuck biltong cillum est boudin jerky brisket tail. In eiusmod cow biltong consectetur do deserunt flank spare ribs pork chop cupidatat ut beef boudin. Excepteur consectetur esse, in filet mignon culpa non et dolore laboris. Shankle nostrud sint officia ut bresaola eu beef rump brisket incididunt. Deserunt eu tongue hamburger labore beef. Flank shankle eu ham, shank rump meatball tenderloin laboris chicken aliquip duis biltong pariatur.
        </p>
        <p>
          Venison laboris ball tip nostrud irure beef pork loin swine jowl ut pork chop. Irure filet mignon short loin tail bacon ham leberkas elit occaecat ea. Salami anim jowl non aliquip. Tenderloin chuck sirloin occaecat culpa andouille mollit shoulder turkey cow kielbasa. Meatball reprehenderit cupidatat fatback esse. Sirloin venison pariatur short ribs pork loin non. Deserunt beef nulla laborum occaecat corned beef velit shoulder quis pork belly in.
        </p>
    </div>
  </div>

{% endblock %}