{% load compress %}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>JWPE - {% block title %}{% endblock title %}</title>
        <meta name="description" content="{%block meta_description%}{%endblock meta_description %}">
        <meta name="author" content="{%block meta_author %}{%endblock meta_author %}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}scss/landing.css">
        {% endcompress %}
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>

        {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/zepto.js"></script>
        <script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
        {% block javascript %}{% endblock javascript %}
        {% endcompress %}

    </head>

    <body>
        <nav class="top-bar">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1><a href="#">JWPE</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="left">
              <li class="divider"></li>
              <li class="active"><a href="{% url 'blog:blog_index' %}">Blog</a></li>
              <li class="divider"></li>
              <li><a href="#">Projects</a>
              </li>
              <li class="divider"></li>
              <li><a href="#">Contact</a></li>
              <li class="divider"></li>
            </ul>
          </section>
          <section class="top-bar-section">
            <!-- Left Nav Section -->
            <ul class="right">
              <li class="divider"></li>
              <li>
                <a href="http://www.twitter.com/jwpe" target="_blank">
                  <img src="{{ STATIC_URL }}images/twitter.png" class="nav-img">
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="https://github.com/Jwpe" target="_blank">
                  <img src="{{ STATIC_URL }}images/github.png" class="nav-img">
                </a>
              </li>
              <li class="divider"></li>
            </ul>
          </section>

        </nav>
        {% block content %}{% endblock content %}

        <script src="{{ STATIC_URL }}js/foundation/foundation.topbar.js"></script>
        <script src="{{ STATIC_URL }}js/foundation/foundation.dropdown.js"></script>
        <script>
          $(document).foundation();
        </script>
    </body>

</html>