{% if posts %}
    {% for post in posts %}
        <div class="row">
            <div class="small-12 small-centered columns">
                <article class ="blog">
                    <h1>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title }}
                        </a>
                    </h1>
                    <p>
                        <strong>
                            {{ post.publish|date:"l, F jS, Y" }}
                        </strong>
                    </p>
                    <p class="tease">
                        {{ post.tease|safe }}
                    </p>
                    <p>
                        <strong>
                            <a href="{{ post.get_absolute_url }}">
                                Read more
                            </a>
                        </strong>
                    </p>
                </article>
            </div>
        </div>
    {% endfor %}
{% endif %}