{% if is_paginated %}
<div class="row">
    <div class="paginator">
        <p>
            Page {{ page_obj.number  }} of {{ page_obj.paginator.num_pages }}
        </p>
        <p>
           {% if page_obj.has_previous %}
                <a class="newer" href="?page={{ page_obj.previous_page_number }}">
                    Newer
                </a>
            {% else %}
                <span class="newer">
                    Newer
                </span>
            {% endif %}
            |
            {% if page_obj.has_next %}
                <a class="older" href="?page={{ page_obj.next_page_number }}">
                    Older
                </a>
            {% else %}
                <span class="older">
                    Older
                </span>
            {% endif %}
        </p>
    </div>
</div>
{% endif %}
