{% extends "base.html" %}

{% block title %}Posts from {{ month|date:"F Y" }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h3>
				Posts from {{ month|date:"F Y" }}:
			</h3>
  		</div>
    </div>
	{% for post in object_list %}
		<article class ="blog">
			<div class="row">
      			<div class="small-6 small-centered columns">
      				<h1>
						<a href="{{ post.get_absolute_url }}">
							{{ post.title }}
						</a>
					</h1>
		      	</div>
		    </div>
		    <div class="row">
		    	<div class="small-10 small-centered columns">
					<p>
						<span class="date">
							{{ post.publish|date:"l, F jS, Y" }}
						</span>
					</p>
					<p class="tease">
						{{ post.tease|safe }}
					</p>
					<p>
						<a href="{{ post.get_absolute_url }}" class="turquoise"> Read more
						</a>
					</p>
				</div>
			</div>
		</article>
	{% endfor %}
{% endblock %}