{% extends "base.html" %}

{% block title %} - Posts from {{ day|date:"F d Y" }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h3>
                {% if posts %}
                    Posts from {{ day|date:"F d Y" }}:
                {% else %}
                    No posts from {{ day|date:"F d Y" }}
                {% endif %}
			</h3>
  		</div>
    </div>
	{% include 'blog/blog_tease_list.html' %}
    {% include 'blog/paginator.html' %}
{% endblock %}