{% extends "blog/blog_base.html" %}

{% block title%} {{ post.title }} {% endblock %}

{% block meta %}
    <meta name = 'description' content = '{{post.tease}}'>
{% endblock %}

{% block blog %}
	<div class = "dividerTop">
	</div>

	<article class = "blog">

		<h2 class = "title">
			<a href="{{ post.get_absolute_url }}">{{ post.title }}
			</a>
		</h2>
		<p>
			<span class="date">
				{{ post.publish|date:"l, F jS, Y" }}
			</span>
		</p>
		<div class="postBody">
		{{ post.body|safe }}
		</div>
		<div class = "tweet">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="EdiFireApp" data-related="EdiFireApp">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div class = "other">
			<div class = "previousPost">
	    		{% if post.get_previous_by_publish %}
	    			<a class="previous" href="{{ object.get_previous_post.get_absolute_url }}">
	    				<dl>
	    				<dt> ← Prev </dt>
	    				<dd> {{ post.get_previous_post }} </dd>
	    				</dl>
	    			</a>
	    		{% endif %}
			</div>
			<div class = "nextPost">
	    		{% if post.get_next_by_publish %}
	    			<a class="next" href="{{ object.get_next_post.get_absolute_url }}">	
	    				<dl>
	    				<dt> Next → </dt> 
	    				<dd> {{ 	post.get_next_post }}
	    				</dd>
	    				</dl>
	    			</a> 
	    		{% endif %}
	    	</div>
	    </div>
	    {% if post.allow_comments %}
			<div class = "comments">
				{% load disqus_tags %}
				{% disqus_dev %}
				{% set_disqus_identifier post.slug %}
				{% disqus_show_comments %}
			</div>
		{% endif %}

	</article>

	<div class = "dividerBottom">
	</div>
{% endblock %}