{% extends "base.html" %}

{% block meta %}
	<meta name = 'description' content = 'Blogs by Jonathan Evans on web development, life and various other subjects.'>
{% endblock %}

{% block content %}
	{% for post in posts %}
		<article class ="blog">
			<div class="row">
      			<div class="small-6 small-centered columns">
      				<h1>
						<a href="{{ post.get_absolute_url }}">
							{{ post.title }}
						</a>
					</h1>
		      	</div>
		    </div>
		    <div class="row">
		    	<div class="small-10 small-centered columns">
					<p>
						<span class="date">
							{{ post.publish|date:"l, F jS, Y" }}
						</span>
					</p>
					<p class="tease">
						{{ post.tease|safe }}
					</p>
					<p>
						<a href="{{ post.get_absolute_url }}" class="turquoise"> Read more
						</a>
					</p>
				</div>
			</div>
		</article>
	{% endfor %}

	{% if is_paginated %}
	<p class="pagination">
		{% if has_next %}
			<a class="older" href="?page={{ next }}"> 
				Older
			</a>
		{% endif %}
		{% if has_next and has_previous %} | {% endif %}
		{% if has_previous %}
			<a class="newer" href="?page={{ previous }}">
				Newer
			</a>
		{% endif %}
	</p>
	{% endif %}
{% endblock %}
