{% extends "base.html" %}

{% block meta_description %}
	Blogs by Jonathan Evans on web development, life and various other subjects.
{% endblock %}

{% block meta_author %}
	Jonathan Evans
{% endblock %}

{% block title %} - Blog {% endblock %}

{% block content %}
	{% include 'blog/blog_tease_list.html' %}


	{% if is_paginated %}
	<p class="pagination">
		{% if has_next %}
			<a class="older" href="?page={{ next }}">
				Older
			</a>
		{% endif %}
		{% if has_next and has_previous %} | {% endif %}
		{% if has_previous %}
			<a class="newer" href="?page={{ previous }}">
				Newer
			</a>
		{% endif %}
	</p>
	{% endif %}
{% endblock %}
