
{% extends "base.html" %}

{% block title %} - Posts from {{ year.year }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 columns">
			<h3>
				Posts from {{ year.year }}:
			</h3>
  		</div>
    </div>
    <div class="row">
		<div class="small-12 columns">
			<ul class="no-bullet">
				{% for month in date_list %}
				<li>
					<h1>
						<a href="{% url 'blog:blog_archive_month' year.year month|date:'m' %}">
							{{ month|date:"F" }}
						</a>
					</h1>
				</li>
				{% endfor %}
			</ul>
	</div>
{% endblock %}